.WordHead{
    background-color: blueviolet;
    width: 100%;
    
}
.WordHead>th{
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 18px;
}