.App {
  display: flex;
  flex-direction: column;
  
text-align: center;
justify-content: center;
}

.cardsFlex {
  display: flex;

}
.tableFlex {
 margin-top: 0px;
  width: 100%;

 
}
.gameFlex {
  display: flex;
  justify-content: center;
  align-items: center;
 margin-top: 50px;
}

